* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.p__div1 {
	height: 100vh;
	padding: 50px 50px 50px 10px;
	font-family: myFont;
}

.p__div3 {
	width: 355px;
	border: 1px solid white;
	padding: 20px;
	border-radius: 10px;
	margin-right: 30px;
	transition: all 0.3s ease-in;
	box-shadow: 0 0 9px white;
	cursor: pointer;
	height: auto;
	color: white;
}

.p__div3 ul {
  border: none !important;
}

li {
  cursor: default;
  padding: none !important;
  box-shadow: none !important;
  transition: none;
  font-size: 15px;
}

li:hover {
	font-size: 15px;
}

.p__div4 {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
	height: 450px;
}

.btn {
	padding: 10px 30px;
}

.p__div__price {
	font-weight: 800;
	padding-top: 10px;
	font-size: 22px;
}

	.p__div3 {
		margin: auto;
		margin-right: 30px;
		height: auto;
	}

.p__div3:first-child .btn {
	background-color: black;
	color: white;
}

.p__div3:nth-last-child(2) {
	margin-left: 5px;
}

.p__div3:nth-last-child(1) {
  margin-right: 20px;
}

.p__div3:hover {
	transform: scale(0.9);
}

@media (max-width: 1024px) {
	.p__div1 {
		padding: 0;
		margin-left: -15px;
	}

	.p__div2 h3 {
		margin-top: 30px;
	}

	.p__div4 {
		display: flex;
		flex-direction: row;
		padding-top: 30px;
		overflow-x: scroll;
	}

	.p__div3 {
		flex: 0 0 450px;
		margin-right: 30px;
	}

	.p__div3:first-child {
		margin-left: 920px;
	}

	.p__div3:nth-last-child(3) {
		margin-left: 10px;
	}

	.p__div4::-webkit-scrollbar {
  	display: none;
	}
}

@media (max-width: 768px) {
	.p__div1 {
		padding: 0;
		margin-left: 0;
	}

	.p__div2 h3 {
		margin-top: 30px;
	}

	.p__div4 {
		display: flex;
		flex-direction: row;
		padding-top: 30px;
		overflow-x: scroll;
	}

	.p__div3:first-child {
		margin-left: 820px;
	}

	.p__div3 {
		flex: 0 0 350px;
		margin-right: 30px;
	}

	.p__div3:nth-last-child(3) {
		margin-left: 10px;
	}

	.p__div3:nth-last-child(1) {
  	margin-right: 50px;
	}
}

@media (max-width: 500px) {
	.p__div1 {
		padding: 0;
		margin-left: -15px;
	}

	.p__div2 {
		margin-left: 10px;
	}

	.p__div4 {
		display: flex;
		flex-direction: row;
		padding-top: 0;
		overflow-x: scroll;
	}

	.p__div3:first-child {
		margin-left: 1050px;
	}

	.p__div3 {
		flex: 0 0 320px;
		margin-right: 30px;
	}

	.p__div3:nth-last-child(3) {
		margin-left: 10px;
	}
}

@media (max-width: 400px) {
	.p__div1 {
		padding: 0;
		margin-left: -15px;
	}

/*	.p__div4 {
		display: flex;
		flex-direction: row;
		padding-top: 0;
		overflow-x: scroll;
	}*/

	.p__div3 {
		flex: 0 0 300px;
		margin-right: 30px;
	}

	.p__div3:first-child {
		margin-left: 995px;
	}

	.p__div3:nth-last-child(3) {
		margin-left: 10px;
	}
}

@media (max-width: 360px) {
	.p__div1 {
		padding: 0;
		margin-left: -15px;
	}

	.p__div3:first-child {
		margin-left: 920px;
	}

	.p__div3 {
		flex: 0 0 265px;
		margin-right: 30px;
	}
}

@media (max-width: 320px) {
	.p__div1 {
		padding: 0;
		margin-left: -15px;
	}

	.p__div2 {
		margin-left: 10px;
	}

	.p__div3:first-child {
		margin-left: 920px;
	}
}